<!DOCTYPE html>
<html lang="en">
<head th:include="head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <div class="content-wrapper" style="margin-left: 0px;">


    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Wallet Generator</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">B</a></li>
              <li class="breadcrumb-item active">C</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    
    
    <section class="content pb-3">
      <div class="container-fluid">
      
               
               <div class="row">
                  <div class="col-lg-6 pe-lg-2 mb-3 ">
                     <div class="card h-100">
                        <div class="card-body py-0" style="height:600px;overflow: overlay; font-family: monospace;">
                           <table class="table table-sm fs--1 mb-0 overflow-hidden">
                              <thead class="text-900" >
                                 <tr>
                                    <th >Network</th>
                                    <th >Total</th>
                                 </tr>
                              </thead>
                              <tbody class="list" id="netcount"></tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  
                  <div class="col-lg-6 ps-lg-2 mb-3">
                     <div class="card h-100">
                        <div class="card-body py-2" style="height:150px;overflow: overlay; font-family: monospace;">
                           <table class="table table-sm fs--1 mb-0 overflow-hidden">
                              <thead class="text-900" >
                                 <tr><td >Success</td><td id="stat_success">0</td></tr>
                                 <tr><td >Error</td><td id="stat_error">0</td></tr>
                                 <tr><td >Found</td><td id="stat_found">0</td></tr>
                                 <tr><td >Analyzed</td><td id="stat_total">0</td></tr>
                              </thead>
                              <tbody class="list" id="netcount"></tbody>
                           </table>
                        </div>
                        
                        <div class="card-body py-0 " style="overflow: overlay; font-family: monospace;">
                           <table class="table table-sm fs--1 mb-0 overflow-hidden">
                              <thead class="text-900" >
                                 <tr>
                                    <th >Address</th>
                                    <th >Balance</th>
                                    <th >Network</th>
                                    <th >&nbsp</th>
                                 </tr>
                              </thead>
                              <tbody class="list" id="wallets"></tbody>
                           </table>
                        </div>
                        
                        
                     </div>
                     
                     
                     
                  </div>
                  
               </div>

      </div>
    </section>

  </div>


  <footer class="main-footer" style="margin-left: 0px;">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.0
    </div>
    <strong>Carlos Magno Abreu</strong> | magno.mabreu@gmail.com
  </footer>

</div>
      <script src="ethers-5.6.umd.min.js" ></script>      
  	  <script src="websocket/sockjs.min.js"></script>
	  <script src="websocket/stomp.min.js"></script>
	  <script src="script.js"></script>	  
</body>
</html>
